<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>name<%= @current_user.name %> </p>
      <p> days: <%= @holiday.days %> </p>
      <p> start date: <%= @holiday.start_date %> </p>
      <p> end date: <%= @holiday.end_date %> </p>
      <p> replacements: <%= @replacements %> </p>
      <p> projects: <%= @projects %> </p>

      <%= link_to "Response", "http://localhost:8000/#/holidays/request" %>
      <br>
      <br>
  </body>
</html>
