<%= form_for :smtp_settings do |f| %>

    <div class="form-group">
    <%= f.label :port %>
    <%= f.text_field :port , class: "form-control" , value: (get_option "port", SmtpSetting) %><br>
    </div>

    <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address , class: "form-control" , value: (get_option "address", SmtpSetting) %><br>
    </div>

    <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name , class: "form-control" , value: (get_option "user_name", SmtpSetting) %><br>
    </div>

   <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field  :password , class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= f.label :SSL %>
      <%= f.password_field  :SSL , class: "form-control" %><br>
    </div>

    <%= f.submit "Save" , class: "btn btn-default" %>
<% end %>